<div class="row top-nav"></div>
<div class="row header">
    <div class="cover-shadow">
        <h1><%= Setting.site_name %></h1>
    </div>
</div>
<div class="container container-box">
    <div class="row article-container">
<%= raw @page.content %>
</div>
</div>
